@import "bootstrap.less";
@import "font-awesome.less";

/**
 * Paths
 */
@base-img-url: "/build/img";
@fa-font-path: "/build/fonts";

/**
 * Colors
 */
@white: rgb(255, 255, 255);
@black: rgb(0, 0, 0);
@red: @label-danger-bg;
@green: @label-success-bg;
@orange: @label-warning-bg;

@grayLighter: @gray-lighter;
@grayLight: @gray-light;
@grayDark: @gray-dark;
@grayDarker: @gray-darker;

// @ms7-gray-light: rgb(204, 204, 204);
// @ms7-gray-lighter: rgb(230, 230, 230);
// @ms7-gray-lightest: rgb(245, 245, 245);

// @ms7-brand-blue: rgb(0, 86, 150);
// @ms7_primary_brand_color: #0088cc;

/**
 * Responsive
 */
@grid-float-breakpoint: @screen-xs-min;

/**
 * Font Sizing
 */
@baseFontSize: @font-size-base;

/**
 * Navbar
 */
// @navbar-inverse-bg: mix(@ms7-brand-blue, @white, 80%);
// @navbar-inverse-bg: @ms7-brand-blue-dark;
// @navbar-inverse-border: darken(@navbar-inverse-bg, 10%);

@navbar-inverse-color: @white;
@navbar-inverse-brand-color: @navbar-inverse-color;
@navbar-inverse-link-color: @navbar-inverse-color;

@navbar-inverse-link-hover-color: darken(@navbar-inverse-color, 10%);
@navbar-inverse-link-color-active: @navbar-inverse-link-hover-color;
@navbar-inverse-brand-hover-color: @navbar-inverse-link-hover-color;

@navbar-inverse-link-background-hover: transparent;
@navbar-inverse-link-background-active: @navbar-inverse-bg;

/**
 * Mixins
 */
.border-radius(@radius) {
  border-top-right-radius: @radius;
  border-bottom-right-radius: @radius;
  border-top-left-radius: @radius;
  border-bottom-left-radius: @radius;
}

// via: http://css-tricks.com/snippets/css/useful-css3-less-mixins/
.text-shadow (@string: 0 1px 3px rgba(0, 0, 0, 0.25)) {
    text-shadow: @string;
}
.box-shadow (@string) {
    -webkit-box-shadow: @string;
    -moz-box-shadow:    @string;
    box-shadow:         @string;
}
.drop-shadow (@x: 0, @y: 1px, @blur: 2px, @spread: 0, @alpha: 0.25) {
    -webkit-box-shadow: @x @y @blur @spread rgba(0, 0, 0, @alpha);
    -moz-box-shadow:    @x @y @blur @spread rgba(0, 0, 0, @alpha);
    box-shadow:     @x @y @blur @spread rgba(0, 0, 0, @alpha);
}
.inner-shadow (@x: 0, @y: 1px, @blur: 2px, @spread: 0, @alpha: 0.25) {
    -webkit-box-shadow: inset @x @y @blur @spread rgba(0, 0, 0, @alpha);
    -moz-box-shadow:    inset @x @y @blur @spread rgba(0, 0, 0, @alpha);
    box-shadow:         inset @x @y @blur @spread rgba(0, 0, 0, @alpha);
}

.box-sizing (@type: border-box) {
    -webkit-box-sizing: @type;
    -moz-box-sizing:    @type;
    box-sizing:         @type;
}

.border-radius (@radius: 5px) {
    -webkit-border-radius: @radius;
    -moz-border-radius:    @radius;
    border-radius:         @radius;

    -moz-background-clip:    padding;
    -webkit-background-clip: padding-box;
    background-clip:         padding-box;
}
.border-radiuses (@topright: 0, @bottomright: 0, @bottomleft: 0, @topleft: 0) {
    -webkit-border-top-right-radius:    @topright;
    -webkit-border-bottom-right-radius: @bottomright;
    -webkit-border-bottom-left-radius:  @bottomleft;
    -webkit-border-top-left-radius:     @topleft;

    -moz-border-radius-topright:        @topright;
    -moz-border-radius-bottomright:     @bottomright;
    -moz-border-radius-bottomleft:      @bottomleft;
    -moz-border-radius-topleft:         @topleft;

    border-top-right-radius:            @topright;
    border-bottom-right-radius:         @bottomright;
    border-bottom-left-radius:          @bottomleft;
    border-top-left-radius:             @topleft;

    -moz-background-clip:    padding; 
    -webkit-background-clip: padding-box; 
    background-clip:         padding-box; 
}

.opacity (@opacity: 0.5) {
    -webkit-opacity:    @opacity;
    -moz-opacity:       @opacity;
    opacity:        @opacity;
}

.gradient (@startColor: #eee, @endColor: white) {
    background-color: @startColor;
    background: -webkit-gradient(linear, left top, left bottom, from(@startColor), to(@endColor));
    background: -webkit-linear-gradient(top, @startColor, @endColor);
    background: -moz-linear-gradient(top, @startColor, @endColor);
    background: -ms-linear-gradient(top, @startColor, @endColor);
    background: -o-linear-gradient(top, @startColor, @endColor);
}
.horizontal-gradient (@startColor: #eee, @endColor: white) {
    background-color: @startColor;
    background-image: -webkit-gradient(linear, left top, right top, from(@startColor), to(@endColor));
    background-image: -webkit-linear-gradient(left, @startColor, @endColor);
    background-image: -moz-linear-gradient(left, @startColor, @endColor);
    background-image: -ms-linear-gradient(left, @startColor, @endColor);
    background-image: -o-linear-gradient(left, @startColor, @endColor);
}

.animation (@name, @duration: 300ms, @delay: 0, @ease: ease) {
    -webkit-animation: @name @duration @delay @ease;
    -moz-animation:    @name @duration @delay @ease;
    -ms-animation:     @name @duration @delay @ease;
}

.transition (@transition) {
    -webkit-transition: @transition;  
    -moz-transition:    @transition;
    -ms-transition:     @transition; 
    -o-transition:      @transition;  
}
.transform(@string){
    -webkit-transform: @string;
    -moz-transform:      @string;
    -ms-transform:       @string;
    -o-transform:        @string;
}
.scale (@factor) {
    -webkit-transform: scale(@factor);
    -moz-transform:      scale(@factor);
    -ms-transform:       scale(@factor);
    -o-transform:        scale(@factor);
}
.rotate (@deg) {
    -webkit-transform: rotate(@deg);
    -moz-transform:      rotate(@deg);
    -ms-transform:       rotate(@deg);
    -o-transform:        rotate(@deg);
}
.skew (@deg, @deg2) {
    -webkit-transform:       skew(@deg, @deg2);
    -moz-transform:      skew(@deg, @deg2);
    -ms-transform:       skew(@deg, @deg2);
    -o-transform:        skew(@deg, @deg2);
}
.translate (@x, @y:0) {
    -webkit-transform:       translate(@x, @y);
    -moz-transform:      translate(@x, @y);
    -ms-transform:       translate(@x, @y);
    -o-transform:        translate(@x, @y);
}
.translate3d (@x, @y: 0, @z: 0) {
    -webkit-transform:       translate3d(@x, @y, @z);
    -moz-transform:      translate3d(@x, @y, @z);
    -ms-transform:       translate3d(@x, @y, @z);
    -o-transform:        translate3d(@x, @y, @z);
}
.perspective (@value: 1000) {
    -webkit-perspective:    @value;
    -moz-perspective:   @value;
    -ms-perspective:    @value;
    perspective:        @value;
}
.transform-origin (@x:center, @y:center) {
    -webkit-transform-origin: @x @y;
    -moz-transform-origin:    @x @y;
    -ms-transform-origin:     @x @y;
    -o-transform-origin:      @x @y;
}
/**====
 *
 * END MIXINS
 ==== */

/**
 * Custom
 */

* {
    box-sizing: border-box;
}

body {
    background-color: rgb(229,152,11);
}

main#main {
    background-color: rgb(248,248,248);
}

main > * {
    max-width: 1200px;
    margin: 15px auto;
    padding: 15px;
    position: relative;
}

main > header {
    text-align: center;
    min-height: 600px;
}

main > header .circle-l {
    margin: 100px auto 0;
}

main > header h1,
main > header h2 {
    margin-top: -350px;
    margin-bottom: 350px;
    .rotate (-16deg);
}

main > header h1 {
    font-size: 98px;
    // font-weight: normal;
    font-weight: lighter;
    text-transform: uppercase;
    color: orange;
    border-bottom: 1px solid rgb(50,50,50);
    transform: rotate(45);
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
}

main > header h2 {
    font-size: 36px;
    text-transform: uppercase;
    font-weight: normal;
    // font-weight: lighter;
    color: orange;
    margin-left: 40px;
}

section#about:after,
section#work:after,
main > footer {
    content: '';
    display: block;
    clear: both;
    float: none;
}

section header {
    text-align: center;
}

section header:before {
    border-top: 1px solid #e5980b;
    content: '';
    display: block;
    position: absolute;
    top: 60px;
    width: 60%;
    left: 20%;
}

section header h3 {
    color: #646464;
    font-size: 28px;
    line-height: 1;
    font-weight: 300;
    text-transform: uppercase;
    position: relative;
    display: inline-block;
    padding: 0 15px;
    background-color: #f8f8f8;
    letter-spacing: .03em;
    + h5 {
        line-height: 1;
        font-style: italic;
        font-weight: 900;
        text-transform: uppercase;
        color: rgb(240,220,220);
        margin: 0 0 30px;
        text-shadow: 1px 1px 1px rgba(180,160,160,1);
    }
}

#DownloadResume {
    text-align: center;
    max-width: 25%;
    a {
        display: inline-block;
        border: 1px solid rgb(100,100,100);
        width: auto;
        margin: 0 auto;
        background: rgb(80,80,80);
        text-transform: uppercase;
        text-decoration: none;
        padding: 10px 15px;
        line-height: 1;
        border-radius: 3px;
        transition: ease all .3s;
        &:hover {
            border: 1px solid rgb(80,80,80);
            background: rgb(70,70,70);
        }
    }
}

article h4 {
    color: rgb(229,152,11);
    border-bottom: 1px solid #f0f0f0;
    display: inline-block;
    padding-right: 20px;
}

main > footer {
    background-color: #e5980b;
    margin: 0 auto 60px;
    padding-bottom: 60px;
    min-height: 200px;
    width: 100%;
    max-width: 100%;
    border-top: 2px solid rgb(100,100,100);
}

main > footer {
    .u1x2 {
        padding-top: 0;
    }
}

main > footer a,
main > footer a:link,
main > footer a:active,
main > footer a:visited {
    color: rgb(50,50,50);
}

main > footer a:hover,
main > footer a:focus {
    color: rgb(30,30,30);
}

main > footer h3 {
    color: rgb(50,50,50);
    font-size: 28px;
    line-height: 1;
    font-weight: 300;
    text-transform: uppercase; 
    background-color: rgb(229,152,11);
    position: relative;
    display: block;
    border-bottom: 1px solid rgba(130,130,130,.5);
}

main > footer h3:after {
    content: '';
    display: block;
    float: none;
    clear: both;
}

ul.nostyle {
    list-style: none;
    margin: 0;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;
}

.Block-row {
    clear: left;
}

.u {
    display: inline-block;
    float: left;
}

.u1x3 {
    width: calc(33.33333333%);
    padding: 0 60px 0 0;
    margin-left: -15px;
    + .u1x3 {
        &:last-child {
            padding-right: 15px;
        }
    }
}

.u1x2 {
    width: calc(100% / 2);
    padding: 15px;
    margin-left: -15px;
    // + .u1x2 {
    //     float: right;
    //     width: auto;
    // }
}

a, a:link, a:active, a:visited {
    color: rgb(229,152,11);
}

a, a:hover, a:focus {
    color: rgb(209,132,1);
}

p {
    line-height: 1.4;
}

.Modal {
    /*display: none;*/
    h4 {
        font-size: 28px;
        font-weight: 300;
        line-height: 1.2;
        margin: 3px 0 7px;
    }
}

.circle {
    border-radius: 100%;
    overflow: hidden;
    .box-shadow(0 0 15px 1px rgba(0,0,0,.1));
}

.circle-l {
    height: 600px;
    width: 600px;
}

.circle-m {
    height: 300px;
    width: 300px;
    margin: 30px 0 60px;
}

.btn {
    .border-radius(2px)
    &:hover,
    &:focus,
    &.focus {
        color: #d18401;
    }
}

.Block-container {
    max-width: 1200px;
    margin: 0 auto;
}
